{{ partial "header.html" .}}


<div class="container">
  <div class="row">
    <article class="col-md-12 post-full">
      {{ partial "breadcrumb.html" . }}
      <header class="my-4">
        <h1>{{ title .Title }}</h1>
        
        <section class="post-meta d-flex justify-content-between">
          Written by&nbsp;
          {{- $siteDataAuthors := .Site.Data.authors -}}
          {{- if and (isset .Params "authors") (gt (len .Params.authors) 0) -}}
            {{- $authorListLen := len .Params.authors -}}
            {{- range $i, $v := .Params.authors -}}
              {{- $author := index $siteDataAuthors ( $v | default "kicad") -}}
              {{- if $author -}}
                {{- $author.name -}}
              {{- end -}}
              {{- if lt $i (sub $authorListLen 1) }},&nbsp;{{- end -}}
            {{- end -}}
          {{- else -}}
            {{- $author := index $siteDataAuthors ("kicad") -}}
            {{- $author.name -}} 
          {{- end -}}

  
          <div class="post-meta-date">
              Published <time datetime="{{ dateFormat .Site.Params.DateForm .Date }}">
              {{ dateFormat .Site.Params.DateForm .Date }}</time>
          </div>
        </section>
      </header>
      <section>
          {{ .Content }}
      </section>
      {{ if isset .Params "blog/categories" }}
      <hr />
      <section>
        <div class="post-meta-category">
            {{ $tax := index .Params "blog/categories" }}
            {{ range $tax }}
              <a class="badge rounded-pill bg-primary" href="{{ delimit (slice "/blog/categories/" (urlize .) $.Site.Params.ugly) "" | relURL }}">{{ . }}</a>
            {{ end }}
        </div>
      </section>
      {{ end }}
      
      {{ $related := .Site.RegularPages.Related . | first 2 }}
      {{ with $related }}
      <hr />
      <section class="row">
        <h2>See Also</h2>
          {{ range $related }}
          <div class="col">
            <div class="card">
              <div class="card-body">
                <h5><a class="stretched-link" href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ dateFormat .Site.Params.DateForm .Date }}</h6>
                <p class="card-text">{{ .Summary }}</p>
              </div>
            </div>
          </div>
          {{ end }}
      </section>
      {{ end }}

    </article>
  </div>
</div>

{{ partial "footer.html" .}}
